body {
    background-image: url(./wallpaper.jpg);
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.gradient-border {
  --border-width: 1px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  font-size: 2.5rem;
  color: white;
  background: #222;
  border-radius: 10px;
  text-shadow: 0 0 10px white,
               0 0 2px white;


&::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: 10px;
    animation: moveGradient 4s alternate infinite;
  }
}


@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
